/* similarPosts */
.similarPosts {
	@extend %cnss;

	// line

	&__header-line {
		@extend %rnss;

		margin-bottom: $base-lh;
	}

	&__list-line {
		@extend %cnss;

		margin-bottom: $base-lh * 2;
	}

	// wrap

	&__item-wrap {
		@extend %rwsc;

		height: $base-lh * 2;
	}
}