/* similarPosts */
.similarPosts {
	@extend %cnss;

	// line

	&__header-line {
		@extend %rncs;

		margin-bottom: $base-lh;

		@media ( min-width: 990px ) {
			justify-content: flex-start;
		}
	}

	&__list-line {
		@extend %cnss;

		margin-bottom: $base-lh * 2;
	}

	// wrap

	&__item-wrap {
		@extend %rwsc;

		height: $base-lh * 2;
	}
}