.catNav.catNav--mobile {
	position: static;

	@extend %cnss;
	width: 100%;
	overflow: hidden;

	background-color: $c_navBg;

	&::before {
		display: none;
	}

	// line

	.catNav__line {
		@extend %rwcs;
	}

	// content

	.catNav__link {
		color: #fff;
		text-align: center;

		&:hover {
			color: $c_accent;
		}
	}

}