/* catNav */
.catNav {
	position: absolute;
	top: $base-lh * 2;
	left: 0;
	z-index: 6;

	@extend %cnss;

	width: 160px;

	background-color: #fff;

	&::before {
		position: absolute;
		top: -6px;
		left: 30px;

		display: block;
		content: "";

		width: 0;
		height: 0;

		border-bottom: 6px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}

	// line

	.catNav__line {
		@extend %rwss;
	}

	// content

	.catNav__link {
		width: 100%;
		padding: $base-lh / 2;

		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_header;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}
}

.catNav.catNav--scrolled {
	background-color: $c_navBg;

	&::before {
		display: none;
	}

	.catNav__link {
		color: #fff;

		&:hover {
			color: $c_accent;
		}
	}
}

// modificators
@import 'catNav--mobile';