@import "~compass-mixins/lib/compass/typography";
@import "~susy/sass/susy";

// typography

$base-font-size: 12px;
$base-line-height: 18px;
$rhythm-unit: "px";
$rem-with-px-fallback: false;

$grid-background-baseline-color: rgba(#ea9155,.9);

// susy

$myColumns: 12;

$susy: (
	container: 1145px,
	columns: $myColumns,
	gutters: 0,
	global-box-sizing: border-box,
	debug: (
			image: show,
			output: overlay,
			// color: rgba(#66f, .1)
			toggle: top left
		),
	use-custom: (
			rem: false
		)
	);

// custom span

@mixin width-span($cols: 1) {
	width: 100% / ($myColumns / $cols);
}

// custom pull/push 

@mixin move-right($cols: 1) {
	position: relative;
	left: 100% / ($myColumns / $cols);
}

@mixin move-left($cols: 1) {
	position: relative;
	left: -(100% / ($myColumns / $cols));
}

// custom font-face

@mixin my-font($name, $eot: false, $otf: false, $ttf: false, $woff: false, $woff2: false, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		$result: "";
		@if $eot == true {
			$result: $result + 'url("../fonts/#{$name}/#{$name}.eot"),';
			$result: $result + 'url("../fonts/#{$name}/#{$name}.eot?#iefix") format("embedded-opentype")';
		}
		@if $otf == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}/#{$name}.otf") format("opentype")';
		}
		@if $ttf == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}/#{$name}.ttf") format("truetype")';
		}
		@if $woff == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}/#{$name}.woff") format("woff")';
		}
		@if $woff2 == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}/#{$name}.woff2") format("woff2")';
		}
		src: #{$result};
		font-weight: $weight;
		font-style: $style;
	}
}