@import 'utilities';

$base-lh: $base-line-height;

// font-family

$ff_logo: 'Pattaya', sans-serif;
$ff_header: 'Poiret One', cursive;
$ff_text: 'PT Sans', sans-serif;

// color

$c_navBg: #222;
$c_navText: #ddd;
$c_logoText: #fff;
$c_topBg: rgba( 41, 47, 64, .9 );
$c_accent: #40ccff;