@import 'utilities';

$base-lh: $base-line-height;

// font-family

$ff_caption_1: "CodaRegular", "Arial", sans-serif;
$ff_caption_2: "CodaHeavy", "Arial", sans-serif;
$ff_text: "Arial", sans-serif;
$ff_logo: "ImpactRegular", "Arial", sans-serif;