@import 'utilities';

$base-fz: 16px;
$base-lh: 22px;

// font-family

$ff_logo: 'Pattaya', sans-serif;
$ff_header: 'Tinos', serif;
$ff_text: 'PT Sans', sans-serif;

// font-size

$fz1: $base-fz * 2.074;
$fz2: $base-fz * 1.728;
$fz3: $base-fz * 1.44;
$fz4: $base-fz * 1.2;
$fz5: $base-fz;
$fz6: $base-fz * 0.833;
$fz7: $base-fz * 0.694;
$fz7: $base-fz * 0.579;


// color

$c_accent: #40ccff;  // light blue
$c_additional: #bec0b0; // light brown
$c_sub_accent: #b76e5f; // brown for tables
$c_navBg: #222;
$c_navText: #ddd;
$c_logoText: #fff;
$c_topBg: rgba( 41, 47, 64, .5 );
$c_header: darken( $c_accent, 40% );
$c_text: #000;

