/**********************
*        BASE         *
***********************/

@include establish-baseline;
@include border-box-sizing(true);

%wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

%clearfix:after {
	display: block;
	content: "";
	clear: both;
}

%rnss {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

%rwss {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
}

%rwcs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}


%rnsc {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

%rwsc {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

%rnbs {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

%cnss {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.smoothAppear {
	transition: .5s;
}