/* logo */
.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	align-self: center;
	height: $base-lh * 5;

	// line

	&__text-big-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	&__text-big-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	// wrap 

	&__img-wrap {
		display: flex;
		flex-flow: row nowrap;

		margin-right: 15px;
	}

	&__text-wrap {
		display: flex;
		flex-flow: column nowrap;
	}

	// content

	&__img {
		font-size: 60px;
		color: $c_accent;
	}

	&__text-big {
		font-family: $ff_logo;
		font-size: 30px;
		line-height: $base-lh * 2; 
		color: $c_logoText;
		text-transform: uppercase;
	}

	&__text-small {
		font-family: $ff_logo;
		font-size: 18px;
		line-height: $base-lh; 
		color: $c_additional;
	}
}