/* postHeader */
.postHeader {
	font-family: $ff_header;
	font-size: $fz2;
	line-height: $base-lh * 2;
	color: #000;

	transition: .3s;

	&:hover {
		color: lighten( #000, 40% );
	}

	@media ( min-width: 480px ) {
		font-size: $fz1;
	}
}