/* quotesShare */
.quotesShare {
	@extend %rnss;
	order: 1;

	margin-top: $base-lh;

	&__google-btn, &__vk-btn, &__twitter-btn, &__facebook-btn {
		@extend %rncc;

		width: 30px;
		border-radius: 3px;

		&:not( :last-child ) {
			// margin-right: 5px;
		}
	}

	&__google-btn {
		color: #E24147;

		&:hover {
			color: darken( #E24147, 10% );
		}

		&:active {
			color: darken( #E24147, 20% );
		}
	}

	&__facebook-btn {
		color: #3C5C99;

		&:hover {
			color: darken( #3C5C99, 10% );
		}

		&:active {
			color: darken( #3C5C99, 20% );
		}
	}

	&__vk-btn {
		color: #507299;

		&:hover {
			color: darken( #507299, 10% );
		}

		&:active {
			color: darken( #507299, 20% );
		}
	}

	&__twitter-btn {
		color: #02AAEB;

		&:hover {
			color: darken( #02AAEB, 10% );
		}

		&:active {
			color: darken( #02AAEB, 20% );
		}
	}

	&__icon {
		font-size: $fz5;
		line-height: $base-lh;
	}
}