/* searchForm */
.searchForm {
	display: none;
	flex-flow: row nowrap;
	justify-content: flex-end;

	width: 33%;

	@media ( min-width: 770px ) {
		display: flex;
	}	

	// wrap

	&__wrap {
		align-self: center;

		padding: 3px 15px;
		margin-right: 10px;
		border-top: 1px solid #bcbcbc;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #f4f4f4;
		border-radius: 3px;

		background-color: $c_navText;
		box-shadow: inset 0 2px 2px -1px rgba(0, 0, 0, .2);	
	}

	// content

	&__search-input {
		width: 100px;

		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;

		opacity: 0;

		transition: .4s;

		&::placeholder {
			font-size: $fz5;
			line-height: $base-lh;
			color: lighten( $c_text, 20% );
		}

		&:focus {
			width: 200px;

			opacity: 1;
		}
	}

	&__search-icon {
		font-size: $fz5;
		line-height: $base-lh * 2;
		color: $c_navText;	
	}
}

// modificators
@import 'searchForm--mobile';