.searchForm.searchForm--mobile {
	display: flex;
	justify-content: center;

	width: 100%;

	// content

	& .searchForm__search-input {
		width: 100px;

		opacity: 1;

		@media ( min-width: 360px ) {
			width: 200px;
		}	
	}

	& .searchForm__search-icon {
		line-height: $base-lh * 3;
	}

}