/* postSection */
.postSection {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;

	width: 70%;
	padding-right: 15px;

	// line

	&__nav-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		margin: $base-lh * 2 0;
	}

	// content

	&__nav-link {
		font-size: 18px;
		color: #8a96ff;
	}
}