/* monthList */
.monthList {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;

	// line

	&__month-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}

	// content

	&__link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: 18px;
		line-height: $base-lh;
		color: $c_header;

		transition: .2s;

		&:hover {
			color: darken($c_header, 50% );
		}
	}
}