/* postItem */
.postItem {
	@extend %cnss;

	padding: $base-lh 0;

	// line

	&__date-line {
		@extend %rnss;
	}

	&__header-line {
		@extend %rwss;
	}

	&__categories-line {
		@extend %rwss;
	}

	&__text-line {
		@extend %rwss;
	}

	&__tag-line {
		@extend %rwss;

		margin-bottom: $base-lh * 2;
	}

	&__tag-header-line {
		@extend %rnss;

		margin-top: $base-lh * 2;
	}

	// wrap

	&__category-wrap {
		@extend %rnss;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__tag-wrap {
		@extend %rnss;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	// content

	&__header {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz1;
		line-height: $base-lh * 2;
		color: #000;
	}
}