/* postItem */
.postItem {
	@extend %cnss;

	padding: $base-lh 0;

	opacity: 0;

	transition: .5s;

	&__date-line {
		@extend %rnss;
	}

	&__header-line {
		@extend %rwss;
	}

	&__categories-line {
		@extend %rwss;
	}

	&__text-line {
		@extend %rwss;
	}

	// wrap

	&__category-wrap {
		@extend %rnss;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}