/* postItem */
.postItem {
	@extend %cnss;

	padding: $base-lh 0;

	// line

	&__date-line {
		@extend %rnss;
	}

	&__header-line {
		@extend %rwss;
	}

	&__categories-line {
		@extend %rwss;
	}

	&__text-line {
		@extend %rwss;
	}

	&__tag-line {
		@extend %rwcs;

		margin-bottom: $base-lh * 2;

		@media ( min-width: 990px ) {
			justify-content: flex-start;
		}
	}

	&__tag-header-line {
		@extend %rncs;

		margin-top: $base-lh * 2;
		margin-bottom: $base-lh;

		@media ( min-width: 990px ) {
			justify-content: flex-start;
		}
	}

	// wrap

	&__category-wrap {
		@extend %rnss;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__tag-wrap {
		@extend %rnss;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	// content

	&__header {
		font-family: $ff_header;
		font-size: $fz2;
		line-height: $base-lh * 2;
		color: #000;

		@media ( min-width: 480px ) {
			font-size: $fz1;
		}
	}
}