/* socialNav */
.socialNav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	align-self: center;
	height: $base-lh * 3;

	// wrap

	&__item {
		&:not( :last-child ) {
			margin-right: 15px
		}
	}

	&__icon-wrap-vk, &__icon-wrap-inst, &__icon-wrap-youtube {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		
		width: 35px;
		height: 35px;
		border-radius: 3px;

		box-shadow: 1px 1px 3px 0 #000;
	}

	&__icon-wrap-vk {
		background-color: #264A84;
	}

	&__icon-wrap-inst {
		background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    				radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
				    // left top
				    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
				    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
				    //  right top
				    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
				    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
				    // right bottom
				    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
				    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	}

	&__icon-wrap-youtube {
		background-color: #E24147;
	}

	// content

	&__icon {
		font-size: 20px;
		color: #fff;
	}
}

// modificators

@import 'socialNav--footer';