/* socialNav */
.socialNav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	align-self: center;
	height: $base-lh * 3;

	// wrap

	&__item {
		&:not( :last-child ) {
			margin-right: 30px
		}
	}

	&__icon-wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		
		width: 35px;
		height: 35px;
		border-radius: 100%;

		background-color: $c_accent;
	}

	// content

	&__icon {
		font-size: 20px;
		color: #fff;
	}
}