/* postSidebarLink */
.postSidebarLink {
	position: relative;

	width: 100%;

	font-family: $ff_header;
	font-size: $fz4;
	line-height: $base-lh * 2;
	color: $c_header;

	transition: .3s;

	&:hover {
		color: $c_accent;
	}
}