/* postCatLink */
.postCatLink {
	font-family: $ff_text;
	font-weight: 300;
	font-style: italic; 
	font-size: $fz5;
	line-height: $base-lh * 2;
	color: $c_header;

	transition: .2s;

	&:hover {
		color: darken( $c_header, 50% );
	}
}