/* postCatLink */
.postCatLink {
	position: relative;

	font-family: $ff_header;
	font-size: $fz5;
	line-height: $base-lh * 2;
	color: $c_header;

	transition: .3s;

	&:hover {
		color: $c_accent;
	}
}