/* footer */
.footer {
	padding: $base-lh 0;
	margin-top: $base-lh * 2;

	background-color: $c_navBg;

	// wrap

	&__wrap {
		@extend %rwss;
		@extend %wrapper;
	}

	&__section {
		width: 33%;
	}

	&__tagList {
		@extend %rwss;
	}


	&__tag-item {
		&:not( :last-child ) {
			margin-right: 10px;
		}
	}

	// content

	&__header {
		margin-bottom: $base-lh;

		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_additional;
	}

	&__nav-link, &__social-link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz6;
		line-height: $base-lh;
		color: darken( $c_navText, 30% );

		transition: .2s;

		&:hover {
			color: $c_accent
		}
	}

	&__tag-link {
		border: 1px solid darken( $c_navText, 30% );
		border-radius: 3px;
		padding: 0 5px;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh - 2;
		color: darken( $c_navText, 30% );

		transition: .2s;

		&:hover {
			border-color: $c_accent;
			color: $c_accent
		}
	}

	&__rights {
		width: 100%;
		margin-top: $base-lh;

		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_additional;
		text-align: center;
	}

}