/* footer */
.footer {
	background-color: $c_navBg;

	// wrap

	&__wrap {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;

		padding-top: $base-lh;
		padding-bottom: $base-lh;

		@extend %wrapper;

		@media( min-width: 500px ) {
			flex-flow: row wrap;

			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__rights-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	&__nav-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	&__nav-item {
		&:not( :last-child ) {
			margin-right: 15px;
		}
	}

	// content

	&__rights {
		font-family: $ff_header;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_navText;
	}
}