/* footer */
.footer {
	background-color: $c_navBg;

	// wrap

	&__wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		@extend %wrapper;
	}

	&__rights-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	&__nav-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	&__nav-item {
		&:not( :last-child ) {
			margin-right: 15px;
		}
	}

	// content

	&__rights {
		font-family: $ff_header;
		font-size: 16px;
		line-height: $base-lh;
		color: $c_navText;
	}

	// &__nav-link {
	// 	font-family: $ff_header;
	// 	font-weight: bold;
	// 	font-size: 18px;
	// 	line-height: $base-lh;
	// 	color: #000;
	// }
}