/* archiveItem */
.archiveItem {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;

	// line

	&__year-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@media( min-width: 990px ) {
			justify-content: flex-start;
		}
	}

	// wrap

	&__link-wrap {
		margin-right: 10px;
	}

	&__toggle {
		font-size: $fz4;
		line-height: $base-lh * 2;
		color: $c_header;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}
}