/* archiveItem */
.archiveItem {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;

	// line

	&__year-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@media( min-width: 770px ) {
			justify-content: flex-start;
		}
	}

	// wrap

	&__link-wrap {
		margin-right: 10px;
	}

	// content

	&__link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz4;
		line-height: $base-lh;
		color: $c_header;

		transition: .2s;

		&:hover {
			color: darken( $c_header, 50% );
		}
	}

	&__toggle-icon {
		font-size: $fz4;
		line-height: $base-lh;
		color: $c_header;
	}
}