/* archiveItem */
.archiveItem {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;

	// line

	&__year-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	// wrap

	&__link-wrap {
		margin-right: 10px;
	}

	// content

	&__link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: 18px;
		line-height: $base-lh;
		color: darken( $c_accent, 40% );

		transition: .2s;

		&:hover {
			color: darken( $c_accent, 80% );
		}
	}

	&__toggle-icon {
		font-size: 18px;
		line-height: $base-lh;
		color: darken( $c_accent, 40% );
	}
}