/* postIndex */
.postIndex {
	@extend %cnss;

	// line

	&__nav-line {
		@extend %rnbs;

		margin: $base-lh * 3 0;
	}

	// content

	&__notFound {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz3;
		line-height: $base-lh * 8;
		text-align: center;
	}
}