/* archive */
.archive {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;
	margin-bottom: $base-lh * 4;

	// line

	&__header-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@media( min-width: 990px ) {
			justify-content: flex-end;
		}
	}

	// content

	&__header {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz4;
		line-height: $base-lh;
		color: $c_additional;
	}

}