/* post */
.post {

	// line
	
	display: flex;
	flex-flow: column nowrap;

	padding: $base-lh 0;

	&__date-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	&__header-line {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	&__categories-line {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	&__text-line {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	&__footer-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		margin-top: $base-lh;
	}

	// wrap

	&__category-wrap {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__read-wrap {
		display: flex;
		flex-flow: row nowrap;
	}

	// content

	&__date {
		font-family: $ff_text;
		font-weight: bold;
		font-size: 12px;
		line-height: $base-lh;
		color: $c_additional;
	}

	&__header {
		font-family: $ff_header;
		font-size: 30px;
		line-height: $base-lh * 2;
		color: $c_header;
	}

	&__category-link {
		font-family: $ff_text;
		font-weight: 300;
		font-style: italic; 
		font-size: 14px;
		line-height: $base-lh * 2;
		color: darken( $c_accent, 40% );
	}

	&__text {
		font-family: $ff_text;
		font-size: 18px;
		line-height: $base-lh;
		color: $c_text;
	}

	&__read-link {
		padding: 0 20px;
		border-radius: 3px;

		font-family: $ff_header;
		font-weight: bold;
		font-size: 14px;
		line-height: $base-lh * 2;
		color: #fff;

		background-color: $c_accent;

		&:hover {
			background-color: darken( $c_accent, 10% );
		}

		&:active {
			background-color: darken( $c_accent, 20% );
		}
	}

	&__comment-link {
		font-family: $ff_text;
		font-size: 14px;
		line-height: $base-lh * 2;
		color: darken( $c_accent, 40% );
	}
}