/* mainNav */
.mainNav {
	display: none;
	flex-flow: row nowrap;

	@media ( min-width: 770px ) {
		display: flex;
	}	

	// wrap

	&__wrap {
		position: relative;

		@extend %rwss;
		align-self: center;

		&:not( :last-child ) {
			margin-right: 30px;
		}
	}

	// content

	&__link {
		padding: 0 $base-lh / 2;

		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz5;
		line-height: $base-lh * 2;
		color: $c_navText;

		transition: color .2s;

		cursor: pointer;

		&:hover {
			color: $c_accent;
		}

		&.mainNav__link--active {
			color: $c_accent;
		}
	}
}

// modificators
@import 'mainNav--mobile';