/* mainNav */
.mainNav {
	display: none;
	flex-flow: row nowrap;

	@media ( min-width: 770px ) {
		display: flex;
	}	

	// wrap

	&__wrap {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start; 

		&:not( :last-child ) {
			margin-right: 50px;
		}
	}

	// content

	&__link {
		padding: 0 10px;

		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz5;
		line-height: $base-lh * 2;
		color: $c_navText;

		transition: .2s;

		&:hover {
			color: lighten( $c_navText, 20% );
		}

		&.mainNav__link--active {
			border-bottom: 2px solid $c_accent;

			color: lighten( $c_navText, 20% );

			background-color: lighten( $c_navBg, 6.5% );
		}
	}
}

// modificators
@import 'mainNav--mobile';