.mainNav.mainNav--mobile {
	@extend %cnss;

	// wrap

	& .mainNav__wrap {
		align-self: stretch;

		margin-right: 0;
	}

	// content

	& .mainNav__link {
		width: 100%;
		padding: 0;

		line-height: $base-lh * 3;
		text-align: center;

		&:hover {
			background-color: lighten( $c_navBg, 6.5% );
		}

		&.mainNav__link--active {
			border-bottom: none;

			color: $c_accent;

			background-color: lighten( $c_navBg, 6.5% );
		}
	}
}