/* topInfo */
.topInfo {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding: 0 15px;

	background-color: $topBg;

	@media ( min-width: 770px ) {
		flex-flow: row nowrap;
	}
}