/* postsTop */
.postsTop {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;
	margin-bottom: $base-lh * 4;

	// line 

	&__header-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@media( min-width: 770px ) {
			justify-content: flex-end;
		}
	}

	&__item-line {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		margin-top: $base-lh;

		@media( min-width: 500px ) {
			justify-content: center;
		}

		@media( min-width: 770px ) {
			justify-content: flex-start;
		}
	}

	// content

	&__header {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz4;
		line-height: $base-lh;
		color: $c_additional;
	}

	&__link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: $fz4;
		line-height: $base-lh;
		color: $c_header;

		transition: .2s;

		&:hover {
			color: darken( $c_header, 50% );
		}
	}
}