/* postsTop */
.postsTop {
	display: flex;
	flex-flow: column nowrap;

	margin-top: $base-lh;
	margin-bottom: $base-lh * 5;

	// line 

	&__header-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
	}

	&__item-line {
		display: flex;
		flex-flow: row wrap;

		margin-top: $base-lh;
	}

	// content

	&__header {
		font-family: $ff_header;
		font-weight: bold;
		font-size: 18px;
		line-height: $base-lh;
		color: $c_additional;
	}

	&__link {
		font-family: $ff_header;
		font-weight: bold;
		font-size: 20px;
		line-height: $base-lh;
		color: darken( $c_accent, 40% );

		transition: .2s;

		&:hover {
			color: darken( $c_accent, 80% );
		}
	}
}